@use 'base/variables' as v;
@use 'base/mixins' as m;
.alertas{
    margin: 0 auto;
    .alerta{
        margin: 1rem 0;
        text-align: center;
        &.error{
            @include m.alerta(v.$rojoClaro,v.$rojo,v.$rojo);
        }
        &.exito{      
            @include m.alerta(v.$verdeClaro,v.$verde,v.$verde);
        }
        font-size: 1.2rem;
        @include m.tablet{
            font-size: 1.4rem;
        }

        
    }
}

.alerta{
    margin: 1.5rem;
    &.error{
        @include m.alerta(v.$rojoClaro,v.$rojo,v.$rojo);
        font-size: 1.3rem;

    }
    &.aviso{
        @include m.alerta(v.$celeste,v.$azul,v.$azul);
        font-size: 1.5rem;

    }
    &.exito{
        @include m.alerta(v.$verdeClaro,v.$verde,v.$verde);
        font-size: 1.5rem;

    }
}

