@use 'base/variables' as v;
@use 'base/mixins' as m;
.alertas{
    margin: 0 auto;
    .alerta{
        margin: 1rem 0;
        text-align: center;
        &.error{
            @include m.alerta(v.$rojoClaro,v.$rojo,v.$rojo);
        }
        &.exito{      
            @include m.alerta(v.$verdeClaro,v.$verde,v.$verde);
        }
        
    }
}