@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario{
    margin-top: 5rem;
    .campo{
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        label{
            flex: 0 0 6rem;
            font-size: 1rem;
            @include m.tablet{
                font-size: 1.4rem;
                flex: 0 0 10rem;
            }
            @include m.desktop{
                font-size: 1.6rem;
                flex: 0 0 10rem;
            }
            
        }

        .contador{
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 2.5rem;
            font-size: 1.5rem;
        }
    
        input{
            flex: 1;
            padding: .8rem;
            border: none;
            font-size: 1.2rem;
            background-color: lighten(v.$gris,40%);
            width: 100%;
            @include m.tablet{
                padding: 1rem;
                font-size: 100%;
            }
            
        }
        .container-password{
            display: flex;
            align-items: center;
            position: relative;
            flex: 1;
            
            
        }
        textarea{
            padding: .5rem;
        }
    }

    .eye{
        fill: v.$grisOscuro;
        position: absolute;
        right: 2%;
        opacity: .8;
        &:hover{
            cursor: pointer;
        }
        width: 18px;
        @include m.tablet{
            width: 24px;
        }
    }
   
}