@use 'variables' as v;
@use 'base/mixins' as m;

h1, h2, h3 {
    font-family: v.$fuente_headings;
    margin: 0 0 calc(v.$separacion / 2) 0 ;
    font-weight: 900;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
p {
    font-size: 2rem;
    color: v.$gris;
    line-height: 1.8;
}

.nombre-pagina{
    text-align: center;
    text-transform: capitalize;

}
.tagline{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    @include m.tablet{
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
}
.descripcion-pagina{
    text-align: center;
    font-size: 1.2rem;
    @include m.tablet{
        font-size: 1.6rem;

    }
}
