// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefonoXS: 210px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$celeste: #74e1fc;
$azul: #2563EB;

$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisOscuro: #4B5563;
$grisClaro: #F3F4F6;
$negro: #000;

$rojo: rgb(169, 0, 0);
$rojoClaro: rgba(225, 131, 131, 0.879);
$verde: rgb(0, 120, 0);
$verdeClaro: rgb(122, 211, 122);

$separacion: 5rem;