@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra-mobile{
    @include m.animacion(backgroundAnimation,15s,linear,infinite);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        color: v.$blanco;
        margin: 0;
        font-size: 4rem;
    }

    .menu{
        width: 24px;
        margin-top: 1rem;
        &:hover{
            cursor: pointer;
        }
    }

    @include m.telefono{
        flex-direction: row;

        .menu{
            margin: 0;
            width: 35px;
            height: 35px;
        }
        h1{
          
            font-size: 6rem;
        }
        
    }
    @include m.tablet{
        flex-direction: row;
        display: none;
        
    }
 
  
}
.barra{
    display: none;

   
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: v.$blanco;
        width: 100%;
        padding: 3rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0,0,0, .4);
       
        
        p{
            margin: 0;
            font-size: 1.6rem;
            span{
                font-weight: 700;
                color: v.$indigo;
            }
        }
        .cerrar-sesion{
            @include m.boton(darken(v.$indigo,20%),v.$blanco);
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: .5rem;
        }
    }
}