@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal{
    flex: 1;
}
.barra{
    background-color: v.$blanco;
    width: 100%;
    padding: 3rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba(0,0,0, .4);
    p{
       margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    a{
        font-size: 1.4rem;
    }
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin: 0;
            font-size: 1.6rem;
            span{
                font-weight: 700;
                color: v.$indigo;
            }
        }
        .cerrar-sesion{
            @include m.boton(darken(v.$indigo,20%),v.$blanco);
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: .5rem;
        }
    }
}