@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard{
    background-color: v.$grisClaro;
    @include m.tablet{
        height: 100vh;
        display: flex;
    }
}

.contenido{
    padding: 2rem 0;
    .nombre-pagina{
        font-size: 2.8rem;
    }
}