@use 'base/mixins' as m;
@use 'base/variables' as v;


.sidebar{
    /*OCULTA LA NAVEGACION PARA ESCRITORIO*/
    @include m.animacion(backgroundAnimation,15s,linear,infinite);
    opacity: 0;
    transition: all .5s;
    height: 0;
    overflow: hidden;

    &.mostrar{
        opacity: 1;
        padding: 5rem;
        height: 100vh;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include m.tablet{
            height: 100%;
            position: relative; 
        }
    }

    @include m.tablet{
        padding: 5rem;
        height: 100%;
        opacity: 1;
        display: block;

        
    }
    h2{
        color: v.$blanco;
        margin: 0;
        text-align: center;
        font-size: 4.5rem;
    
    }

    .sidebar-nav{
        margin-top: 4rem;
        a{
            color: v.$blanco;
            display: block;
            margin-bottom: 1.5rem;
            padding: .7rem;
            transition: padding .2s ;
            text-transform: capitalize;
            font-size: 1.5rem;
            &:hover, &.activo{
                border-left: v.$blanco 3px solid;
                padding-left: 1rem;
               
            
            }
        }
    }
  
}


.contenedor-sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @include m.telefono{
        flex-direction: row;
    }
}

.cerrar-menu{
    display: block;
    width: 35px;
    height: 35px;
    &:hover{
        cursor: pointer;
    }
    @include m.tablet{
        display: none;
    }
}

